html, body {
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#wrapper {
	height: auto !important;
	margin: 0 auto -60px;
	min-height: 100%;
}

#footer {
	background-color: #F5F5F5;
	height: 60px;
	width: 100%;
	padding: 15px;
}

#push {
	height: 60px;
}

.tile {
	padding: 10px 20px 20px 20px;
	border-radius: 16px;
	margin: 10px;
}

.catTile {
	height: 254px;
	margin: 20px 5px;
	background-color: #428BCA;
	color: white;
}

.catLink {
	color: #333333;
}

.catLink:hover {
	color: #333333;
	text-decoration: none;
}

.setTile {
	margin: 20px 5px;
	border: 2px solid #428BCA;
}

.tileBackgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.infoBox {
	background-color: #DDDDDD;
	color: black;
}

#dlDisabled {
	background-color: #EEEEEE;
	padding: 10px;
}

a.link-highlighted:link,
a.link-highlighted:visited,
a.link-highlighted:active,
a.link-highlighted:hover {
	color: #428BCA !important;
}

.blue {
	color: #428BCA;
}

#digitRoll {
    box-shadow: inset 0px 16px 12px -10px rgba( 0, 0, 0, 0.5 ),
				inset 0px -16px 12px -10px rgba( 0, 0, 0, 0.5 ),
				inset 10px 0px 8px -10px black,
				inset -10px 0px 8px -10px black;
    width: 132px;
	margin: 0 auto;
}



div#digitRoll div.digit {
    margin: 0 auto;
    width: 32px;
    height: 46px;
    background: url(../img/counter-sprite.png) center top repeat-y;
    position: relative;
    z-index: 10;
    overflow: auto;
    float: left;
    border-right: 1px solid black;
}

@-webkit-keyframes rollingNumbers {
    0% { background-position: 0 0; }
    100% { background-position: 0 -490px; }
}

@-moz-keyframes rollingNumbers {
    0% { background-position: 0 0; }
    100% { background-position: 0 -490px; }
}

@-ms-keyframes rollingNumbers {
    0% { background-position: 0 0; }
    100% { background-position: 0 -490px; }
}

@-o-keyframes rollingNumbers {
    0% { background-position: 0 0; }
    100% { background-position: 0 -490px; }
}

@keyframes rollingNumbers {
    0% { background-position: 0 0; }
    100% { background-position: 0 -490px; }
}

.animationStop {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

#wrapper1 {
    -webkit-animation: rollingNumbers 100s linear infinite;
    -moz-animation: rollingNumbers 100s linear infinite;
    -ms-animation: rollingNumbers 100s linear infinite;
    -o-animation: rollingNumbers 100s linear infinite;
    animation: rollingNumbers 100s linear infinite;
}
#wrapper2 {
    -webkit-animation: rollingNumbers 10s linear infinite;
    -moz-animation: rollingNumbers 10s linear infinite;
    -ms-animation: rollingNumbers 10s linear infinite;
    -o-animation: rollingNumbers 10s linear infinite;
    animation: rollingNumbers 10s linear infinite;
}
#wrapper3 {
    -webkit-animation: rollingNumbers 1s linear infinite;
    -moz-animation: rollingNumbers 1s linear infinite;
    -ms-animation: rollingNumbers 1s linear infinite;
    -o-animation: rollingNumbers 1s linear infinite;
    animation: rollingNumbers 1s linear infinite;
}
#wrapper4 {
    -webkit-animation: rollingNumbers 100ms linear infinite;
    -moz-animation: rollingNumbers 100ms linear infinite;
    -ms-animation: rollingNumbers 100ms linear infinite;
    -o-animation: rollingNumbers 100ms linear infinite;
    animation: rollingNumbers 100ms linear infinite;
}
